body{
    background-color: black;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    height:100vh;
    width:100vw;
    flex-direction: column;
    align-items: center;
}
.container{
    width:50vw;
    min-height:30vh;
    border:0.3em solid white;
    border-radius: 0.5em;
    padding-left: 2vw;
    flex-shrink: auto;
    flex-basis: auto;
    flex-grow: 0.1;
}
#level,#guess{
    display: block;
    margin-bottom: 2vh;
    width:50%;
}
h2{
    display: inline block;
    
}
